<div class="register-content">
    <h1>Registrate como {{typeUserCreate}} </h1>
    <p-card styleClass="register-form">
        <h2>Datos generales</h2>

        <form [formGroup]="form" (ngSubmit)="onSubmit()">

            <div class="user-form">
                <div class="inputs-container">

                    <div class="formgrid grid">
                        <div class="field col input-col">
                            <label for="username" [class]="submitted && f['username'].errors?'error-label':''">Usuario</label>
                            <input pInputText id="username" placeholder="Digita tu usuario" ngClass="w-full"
                            [class]="submitted && f['username'].errors?'ng-invalid ng-dirty':''"
                                formControlName="username" />
                            @if (submitted && f['username'].errors) {
                            @if (f['username'].errors['required']) {
                            <small id="username" class="error-message">
                                El campo es olbigatorio
                            </small>
                            }
                            @if (f['username'].errors['minlength']) {
                            <small id="username" class="error-message">
                                El campo debe tener minimo 6 caracteres
                            </small>
                            }
                            @if (f['username'].errors['maxlength']) {
                            <small id="username" class="error-message">
                                El campo debe tener maximo 100 caracteres
                            </small>
                            }
                            }

                        </div>
                        <div class="field col input-col">
                            <label for="fullname" [class]="submitted && f['fullname'].errors?'error-label':''">Nombre completo</label>
                            <input pInputText id="fullname" placeholder="Digita tu usuario" ngClass="w-full"
                                [class]="submitted && f['fullname'].errors?'ng-invalid ng-dirty':''" formControlName="fullname" />
                            @if (submitted && f['fullname'].errors) {
                            @if (f['fullname'].errors['required']) {
                            <small id="fullname" class="error-message">
                                El campo es olbigatorio
                            </small>
                            }
                            @if (f['fullname'].errors['minlength']) {
                            <small id="username" class="error-message">
                                El campo debe tener minimo 6 caracteres
                            </small>
                            }
                            @if (f['fullname'].errors['maxlength']) {
                            <small id="username" class="error-message">
                                El campo debe tener maximo 100 caracteres
                            </small>
                            }
                            }
                        </div>
                    </div>

                    <div class="formgrid grid">
                        <div class="field col input-col">
                            <label for="idNumber" [class]="submitted && f['idNumber'].errors?'error-label':''">Numero de identificacion</label>
                            <input  pInputText id="idNumber" placeholder="Digita tu numero de identificacion" 
                            [class]="submitted && f['idNumber'].errors?'ng-invalid ng-dirty':''"
                            ngClass="w-full" onlyNumber 
                            maxlength="10"
                               formControlName="idNumber" />
                            @if (submitted && f['idNumber'].errors) {
                            @if (f['idNumber'].errors['required']) {
                            <small id="idNumber" class="error-message">
                                El campo es olbigatorio
                            </small>
                            }
                            @if (f['idNumber'].errors['minlength']) {
                            <small id="idNumber" class="error-message">
                                El campo debe tener minimo 10 caracteres
                            </small>
                            }
                            @if (f['idNumber'].errors['maxlength']) {
                            <small id="idNumber" class="error-message">
                                El campo debe tener maximo 10 caracteres
                            </small>
                            }
                            }
                        </div>
                        <div class="field col input-col">
                            <label for="phone" [class]="submitted && f['phone'].errors?'error-label':''">Numero de celular</label>
                            <input pInputText id="phone" placeholder="Digita tu celular" ngClass="w-full" 
                            [class]="submitted && f['phone'].errors?'ng-invalid ng-dirty':''"
                            onlyNumber formControlName="phone"
                            maxlength="10"
                                />
                            @if (submitted && f['phone'].errors) {
                            @if (f['phone'].errors['required']) {
                            <small id="phone" class="error-message">
                                El campo es olbigatorio
                            </small>
                            }
                            @if (f['phone'].errors['minlength']) {
                            <small id="phone" class="error-message">
                                El campo debe tener minimo 10 caracteres
                            </small>
                            }
                            @if (f['phone'].errors['maxlength']) {
                            <small id="phone" class="error-message">
                                El campo debe tener maximo 10 caracteres
                            </small>
                            }
                            }
                        </div>
                    </div>

                    <div class="formgrid grid">
                        <div class="field col input-col">
                            <label for="email"  [class]="submitted && f['email'].errors?'error-label':''">Correo electronico</label>
                            <input pInputText id="email" placeholder="Digita tu correo electronico" ngClass="w-full" 
                            [class]="submitted && f['email'].errors?'ng-invalid ng-dirty':''"
                            formControlName="email"
                                />
                            @if (submitted && f['email'].errors) {
                            @if (f['email'].errors['required']) {
                            <small id="email" class="error-message">
                                El campo es olbigatorio
                            </small>
                            }
                            @if (f['email'].errors['email']) {
                            <small id="email" class="error-message">
                                El campo debe ser un correo electronico
                            </small>
                            }
                            @if (f['email'].errors['maxlength']) {
                            <small id="email" class="error-message">
                                El campo debe tener maximo 10 caracteres
                            </small>
                            }
                            }
                        </div>
                        <div class="field col input-col">
                            <label for="direction"  [class]="submitted && f['direction'].errors?'error-label':''">Direccion</label>
                            <input pInputText id="direction" placeholder="Digita tu direccion" ngClass="w-full" 
                            formControlName="direction"
                            [class]="submitted && f['direction'].errors?'ng-invalid ng-dirty':''"
                                autocomplete="off'" />
                        
                            @if (submitted && f['direction'].errors) {
                            @if (f['direction'].errors['required']) {
                            <small id="direction" class="error-message">
                                El campo es olbigatorio
                            </small>
                            }
                            @if (f['direction'].errors['minlength']) {
                            <small id="direction" class="error-message">
                                El campo debe tener minimo 10 caracteres
                            </small>
                            }
                            @if (f['direction'].errors['maxlength']) {
                            <small id="direction" class="error-message">
                                El campo debe tener maximo 100 caracteres
                            </small>
                            }
                            }
                        </div>
                    </div>

                    <div class="flex flex-wrap">
                        <div class="field col" style="max-width: 25%;">
                            <label for="password" [class]="submitted && f['password'].errors?'error-label':''">Contraseña</label>
                            <p-password  autocomplete="new-password" placeholder="Digita tu contraseña"
                                ngClass="w-full " [toggleMask]="true" weakLabel="Demasiado simple" mediumLabel="Complejidad media"
                                [class]="submitted && f['password'].errors?'ng-invalid ng-dirty':''"
                                formControlName="password" strongLabel="Contraseña compleja"></p-password>
                        
                            @if (submitted && f['password'].errors) {
                            @if (f['password'].errors['required']) {
                            <small id="password" class="error-message">
                                El campo es olbigatorio
                            </small>
                            }
                            @if (f['password'].errors['minlength']) {
                            <small id="password" class="error-message">
                                El campo debe tener minimo 10 caracteres
                            </small>
                            }
                            @if (f['password'].errors['maxlength']) {
                            <small id="password" class="error-message">
                                El campo debe tener maximo 100 caracteres
                            </small>
                            }
                            }
                        
                        </div>
                        <div class="field col" style="max-width: 25%;">
                            <label for="confirmPassword" [class]="submitted && f['confirmPassword'].errors?'error-label':''">Repetir contraseña</label>
                            <p-password  placeholder="Digita tu contraseña"
                                ngClass="w-full" formControlName="confirmPassword" [toggleMask]="true"
                                [class]="submitted && f['confirmPassword'].errors?'ng-invalid ng-dirty':''"
                                [feedback]="false"></p-password>

                                @if (submitted && f['confirmPassword'].errors) {
                                    @if (f['confirmPassword'].errors['required']) {
                                    <small id="confirmPassword" class="error-message">
                                        El campo es olbigatorio
                                    </small>
                                    }
                                    @if (f['confirmPassword'].errors['minlength']) {
                                    <small id="confirmPassword" class="error-message">
                                        El campo debe tener minimo 10 caracteres
                                    </small>
                                    }
                                    @if (f['confirmPassword'].errors['maxlength']) {
                                    <small id="confirmPassword" class="error-message">
                                        El campo debe tener maximo 100 caracteres
                                    </small>
                                    }
                                    @if (f['confirmPassword'].errors['matching']) {
                                        <small id="confirmPassword" class="error-message">
                                            Las contraseñas deben ser iguales.
                                        </small>
                                    }
                                }
                            
                        </div>

                        
                        <div class="field col" style="max-width: 25%;">
                            <label for="department" [class]="submitted && f['department'].errors?'error-label':''">Departamento</label>
                            <p-dropdown [options]="departments" [(ngModel)]="selectedDepartment"
                                placeholder="Selecciona" formControlName="department" optionLabel="location_name"
                                optionValue="id_location"
                                [class]="submitted && f['department'].errors?'ng-invalid ng-dirty':''"
                                >
                            </p-dropdown>

                            @if (submitted && f['department'].errors) {
                                @if (f['department'].errors['required']) {
                                <small id="department" class="error-message">
                                    El campo es olbigatorio
                                </small>
                                }
                            }

                        </div>

                        <div class="field col" style="max-width: 25%;">
                            <label for="city" [class]="submitted && f['city'].errors?'error-label':''">Ciudad</label>

                            <div>
                                <p-dropdown id="city"  [options]="cities" [(ngModel)]="selectedCity" 
                                placeholder="Selecciona" formControlName="city" optionLabel="location_name" 
                                [class]="submitted && f['city'].errors?'ng-invalid ng-dirty':''"
                                emptyMessage="Selecciona un departamento"
                                optionValue="id_location">
                            </p-dropdown>
                            </div>

                            @if (submitted && f['city'].errors) {
                                @if (f['city'].errors['required']) {
                                <small id="city" class="error-message">
                                    El campo es olbigatorio
                                </small>
                                }
                            }


                        </div>


                    </div>
                    @if(typeUserCreate === "agricultor"){
                    <div class="flex flex-column">
                        <p-divider></p-divider>
                        <h2>Informacion adicional agricultor</h2>
                        <label class="aditional-data-label">Foto de perfil</label>
                        <p-fileUpload [showUploadButton]="false"  chooseStyleClass="p-button-success" name="uploadImageUSer"
                            [customUpload]="true"
                            (onSelect)="onSelect($event)"
                            removeStyleClass="p-button-danger" cancelStyleClass="p-button-secondary"
                            accept="image/*" maxFileSize="1000000" chooseLabel="Subir"
                            cancelLabel="Cancelar">

                        </p-fileUpload>

                        <label for="float-input" class="aditional-data-label-description" >Descripcion</label>
                            <textarea rows="5" cols="10" pInputTextarea formControlName="description"
                                placeholder="...">
                            </textarea>

                        

                    </div>
                    }
                    <p-divider></p-divider>
                    <div class="action-container">
                        <p-button label="Guardar" type="submit" [raised]="true" severity="success" ngClass="w-full"></p-button>
                        <p-button label="Cancelar" (onClick)="cancelCreate()" [raised]="true" severity="secondary" ngClass="w-full d-flex"></p-button>                    
                    </div>
                </div>
            </div>
        </form>
        <app-loading-screen [loading]="isLoading" [message]="'Validando datos...'"></app-loading-screen>
   
 
    </p-card>
</div>

<p-toast key="toast-1"/>