footer {
    position: relative;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem 15px 2rem 0px;
    background-color: rgb(233 255 232);
}