<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="main-page.component.scss">
    <title>SportShoes</title>
</head>
<body>
    <div class="contenedor">
        <!-- ENCABEZADO PRINCIPAL: LOGO MENU CARRITO -->
        <header>
            <div class="logo-titulo">
                <a href="main-page.component.html">
                    <i class="fa-regular fa-circle-dot"></i>
                    <h1>Cosecha Directa</h1>
                </a>
            </div>
            <nav id="nav">
                <a href="main-page.component.html" class="selected">Inicio</a>
                <a href="./products.component.html">Tienda</a>
                <a href="contacto.html">Contacto</a>
                <a href="contacto.html">Iniciar Sesion</a>
            </nav>

            
            <div class="carrito">
                <a href="carrito.html">
                    <span class="icono-carrito">
                        <i class="fa-solid fa-cart-shopping"></i>
                        <div class="total-item-carrito">
                            0
                        </div>
                    </span>
                </a>
            </div>
        </header>

        <section class="contenedor-seccion">
            <div class="fondo-seccion"></div>
            
            <section id="inicio" class="inicio">
                <div class="col">
                    <h2 class="titulo-inicio">Cosechando los Sueños de nuestros campesinos</h2>
                    <div class="buscador">
                        <input type="text" placeholder="Qué estas buscando?">
                        <span class="btn-buscar"><i class="fa-solid fa-magnifying-glass"></i></span>
                    </div>
                   
                </div>
                <div class="col derecha">
                    <div class="contenedor-img">
                        <img src="img/ImgReferencia.png" alt="">
                    </div>
                </div>
            </section>

            
            <!-- PRODUCTOS -->
            <section id="productos" class="productos">
                <div class="fila">
                    <div class="col fondo-dots">
                        <header>
                            <span class="like"><i class="fa-solid fa-heart"></i></span>
                            <span class="cart"><i class="fa-solid fa-bag-shopping"></i></span>
                        </header>
                        <a href="producto1.html">
                            <div class="contenido">
                                <div class="fondo orange">
                                    <div class="circulo"></div>
                                </div>
                                <img src="img/lechugas.jpeg" alt="">
                                <h2>Lechugas</h2>
                                <h2>$2000</h2>
                            </div>
                        </a>

                    </div>
                    <div class="col fondo-dots">
                        <header>
                            <span class="like"><i class="fa-solid fa-heart"></i></span>
                            <span class="cart"><i class="fa-solid fa-bag-shopping"></i></span>
                        </header>
                        
                        <a href="producto2.html">
                            <div class="contenido">
                                <div class="fondo blue">
                                    <div class="circulo"></div>
                                </div>
                                <img src="img/repollo.jpeg" alt="">
                                <h2>Repollo</h2>
                                <h2>$3000</h2>
                            </div>
                        </a>
                    </div>
                    <div class="col fondo-dots">
                        <header>
                            <span class="like"><i class="fa-solid fa-heart"></i></span>
                            <span class="cart"><i class="fa-solid fa-bag-shopping"></i></span>
                        </header>
                        
                        <a href="#">
                            <div class="contenido">
                                <div class="fondo green">
                                    <div class="circulo"></div>
                                </div>
                                <img src="img/remolacha.jpeg" alt="">
                                <h2>Remolacha</h2>
                                <h2>$1000</h2>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="fila">
                    <div class="col fondo-dots">
                        <header>
                            <span class="like"><i class="fa-solid fa-heart"></i></span>
                            <span class="cart"><i class="fa-solid fa-bag-shopping"></i></span>
                        </header>
                        
                        <a href="#">
                            <div class="contenido">
                                <div class="fondo green">
                                    <div class="circulo"></div>
                                </div>
                                <img src="img/pitaya.jpeg" alt="">
                                <h2>Pitaya</h2>
                                <h2>$2500</h2>
                            </div>
                        </a>
                    </div>
                    <div class="col fondo-dots">
                        <header>
                            <span class="like"><i class="fa-solid fa-heart"></i></span>
                            <span class="cart"><i class="fa-solid fa-bag-shopping"></i></span>
                        </header>
                        
                        <a href="#">
                            <div class="contenido">
                                <div class="fondo orange">
                                    <div class="circulo"></div>
                                </div>
                                <img src="img/brocoli.jpeg" alt="">
                                <h2>Brocoli</h2>
                                <h2>$600</h2>
                            </div>
                        </a>
                    </div>
                    <div class="col fondo-dots">
                        <header>
                            <span class="like"><i class="fa-solid fa-heart"></i></span>
                            <span class="cart"><i class="fa-solid fa-bag-shopping"></i></span>
                        </header>
                        
                        <a href="#">
                            <div class="contenido">
                                <div class="fondo blue">
                                    <div class="circulo"></div>
                                </div>
                                <img src="img/tomate.jpeg" alt="">
                                <h2>Tomate</h2>
                                <h2>500</h2>
                            </div>
                        </a>
                    </div>
                </div>
            </section>
        </section>
    </div>

    <script src="script.js"></script>
</body>
</html>