body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('img/fondo.jpg');
    background-size: cover;
    background-attachment: fixed;
}

header {
    background-color: #32CD32;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}



.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 50px;
    margin-right: 10px;
}

.logo span {
    font-size: 24px;
    font-weight: bold;
    color: white;
}

nav {
    display: flex;
    align-items: center;
}

nav input[type="text"] {
    padding: 5px;
    margin-right: 20px;
}

.cart {
    margin-right: 20px;
    color: white;
}

.auth-links a {
    margin-right: 10px;
    color: white;
    text-decoration: none;
}

.hero {
    background-image: url('img/FondoPrincipal.jpg');
    background-size: cover;
    background-position: center;
    padding: 50px 20px;
    text-align: center;
    color: white;
    position: relative;
}


.hero-content {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}

.hero-content h1 {
    margin: 0;
    font-size: 48px;
}

.user-type {
    text-align: center;
    padding: 20px;
}
.user-type h2 {
    color: white; 
}

.user-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.user-buttons button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}


.user-buttons img {
    width: 200px;
    height: 200px;
}

.cosechador {
    background-color: #32CD32;
    color: white;
}

.vendedor {
    background-color: #d2b48c;
    color: white;
}

footer {
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-links a {
    margin-left: 10px;
    color: black;
    text-decoration: none;
}
