
::ng-deep .p-card {
    margin: 3rem;
    width: 500px;
}

.create-product {
    width: 98.9vw;
    display: flex;
    padding: 0px;
    margin: 0px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ceefda;
}

.action-container {
    display: flex;
    justify-content: center;
    align-items: center;
}