<div class="card">
    <img [src]="product.product_images[0].url_image " alt="">
    <h1 class="h2-card">{{product.product_name}}</h1>
    <div class="first-card">
    </div>
    <div class="card__content">
        <p class="card__title">{{product.product_name}}</p>
        <hr class="hr-card">
        <p class="card__description">{{product.description}}</p>
        <p class="card__description"><span>Variedad</span> {{product.variety}}</p>
        <p class="card__description"><span>Periodo de tiempo</span> {{product.time_period_type}}</p>
        <div class="actions-card">
            <p-button label="Ver detalles" severity="success" ngClass="w-full" (onClick)="navigateToProduct()"  />
        </div>
    </div>
  </div>
  